<header class="box-shadow pre z5">
  <div class="header pre">
    <cat-top-info
      [showInfoContent]="showInfoContent"
      (onCloseInfoContent)="closeInfoContent()"
    ></cat-top-info>
    <div nz-row class="z10">
      <div nz-col [nzSpan]="global.isMobile ? 12 : 8">
        <div class="divider nol" fxShow="false" fxShow.gt-sm></div>
        <button
          class="logo-text fl"
          nz-button
          nzType="large"
          fxShow="false"
          fxShow.gt-sm
          (click)="utils.gotoOtherPage('analytics')"
        >
          麻麻鱼
        </button>
        <div class="divider"></div>
        <button nz-button nzType="large" (click)="toggleCollapsed()">
          <i nz-icon nzType="bars"></i>
        </button>
        <ng-container *ngIf="global.userRole >= userRoles[1]">
          <div class="divider"></div>
          <button
            nz-button
            nzType="large"
            (click)="showInfoContent = !showInfoContent"
          >
            <i
              nz-icon
              [nzType]="showInfoContent ? 'arrow-up' : 'arrow-down'"
            ></i>
          </button>
        </ng-container>
        <ng-container
          *ngIf="!global.isMobile && global.userRole >= userRoles[1]"
        >
          <div class="divider"></div>
          <button
            nz-button
            nzType="large"
            (click)="
              utils.gotoOtherPage('login', [], {
                redirectUrl: 'analytics',
                lock: true
              })
            "
          >
            <i nz-icon nzType="lock"></i>
          </button>
        </ng-container>
      </div>
      <div
        nz-col
        class="tr"
        [nzSpan]="global.isMobile ? 12 : 16"
        [style.position]="searchBarState ? 'static' : 'relative'"
      >
        <ng-container
          *ngIf="!global.isMobile && global.userRole >= userRoles[1]"
        >
          <ng-container *ngTemplateOutlet="user"></ng-container>
        </ng-container>
        <ng-container *ngTemplateOutlet="search"></ng-container>
        <ng-container
          *ngIf="!global.isMobile && global.userRole >= userRoles[1]"
        >
          <ng-container *ngTemplateOutlet="bell"></ng-container>
        </ng-container>
        <ng-container *ngTemplateOutlet="fullscreen"></ng-container>
        <ng-container *ngIf="!global.isMobile">
          <ng-container *ngTemplateOutlet="settings"></ng-container>
        </ng-container>
        <ng-container *ngIf="global.isMobile">
          <ng-container *ngTemplateOutlet="more"></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div
    class="header pre"
    [hidden]="!(global.isMobile && global.moreHeaderState)"
  >
    <div class="divider nol z50"></div>
    <div class="header-line"></div>
    <div nz-row class="z10">
      <div nz-col nzSpan="24" class="tr">
        <ng-container *ngTemplateOutlet="user"></ng-container>
        <ng-container *ngTemplateOutlet="settings"></ng-container>
      </div>
    </div>
  </div>
</header>

<ng-template #user>
  <div
    class="dib user-box"
    nz-dropdown
    [nzTrigger]="'click'"
    [nzDropdownMenu]="menu1"
    [nzPlacement]="'bottomCenter'"
  >
    <nz-avatar
      [nzSize]="40"
      nzIcon="user"
      nzSrc="/assets/images/avatar.jpg"
      class="avatar fl"
    ></nz-avatar>
    <button nz-button nzType="primary" class="user-btn">
      <span class="ell name">smileboyi</span>
      <i nz-icon nzType="down" nzTheme="outline"></i>
    </button>
  </div>
  <nz-dropdown-menu class="tc" #menu1="nzDropdownMenu">
    <ul nz-menu class="user-menu">
      <li nz-menu-item>
        <button
          nz-button
          nzType="default"
          (click)="utils.gotoOtherPage('profile')"
        >
          <i nz-icon nzType="user"></i>个人信息
        </button>
      </li>
      <li nz-menu-item>
        <button
          nz-button
          nzType="default"
          (click)="utils.gotoOtherPage('mail-box')"
        >
          <i nz-icon nzType="mail"></i>收件箱
        </button>
      </li>
      <li nz-menu-item>
        <button nz-button nzType="default" (click)="handleLogout()">
          <i nz-icon nzType="poweroff"></i>退出
        </button>
      </li>
    </ul>
  </nz-dropdown-menu>
  <div class="divider"></div>
</ng-template>

<ng-template #search>
  <button nz-button nzType="large" (click)="showSearchBar()">
    <i nz-icon nzType="search"></i>
  </button>
  <div class="search-bar pab wh100 nob nol z50 flex" [hidden]="!searchBarState">
    <label class="fe">
      <input class="wh100 ipt" type="text" placeholder="搜索" #serchIpt />
    </label>
    <button
      nz-button
      nzType="default"
      nzShape="circle"
      (click)="searchBarState = false"
    >
      <i nz-icon nzType="close" nzTheme="outline"></i>
    </button>
  </div>
  <div class="divider"></div>
</ng-template>

<ng-template #fullscreen>
  <button
    nz-button
    nzType="large"
    (click)="toggleFullscreen()"
    fxShow="false"
    fxShow.gt-sm
  >
    <i nz-icon [nzType]="isFullscreen ? 'fullscreen-exit' : 'fullscreen'"></i>
  </button>
  <div class="divider"></div>
</ng-template>

<ng-template #bell>
  <button
    nz-button
    nz-dropdown
    [nzTrigger]="'click'"
    [nzDropdownMenu]="menu2"
    [nzPlacement]="'bottomCenter'"
  >
    <i nz-icon nzType="bell"></i>
  </button>
  <nz-dropdown-menu #menu2="nzDropdownMenu">
    <div class="box-shadow inform-box">
      <nz-tabset nzSize="small">
        <nz-tab [nzTitle]="titleTemplate1">
          <div class="scrollbar wh100 ovys" *ngIf="userMessage">
            <div
              class="message-item flex"
              *ngFor="let message of userMessage.messages"
            >
              <nz-avatar
                nzSize="50"
                nzIcon="user"
                [nzSrc]="message.avatar"
              ></nz-avatar>
              <div class="fe main">
                <div>
                  <span class="name">{{ message.name }}</span>
                  <span class="time fr">{{ message.time }}</span>
                </div>
                <p class="text ell">
                  {{ message.text }}
                </p>
              </div>
            </div>
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="titleTemplate2">
          <div class="scrollbar wh100 ovys" *ngIf="userMessage">
            <div class="file-item" *ngFor="let file of userMessage.files">
              <div>
                <span class="name">{{ file.name }}</span
                ><span class="size fr">{{ file.size }}</span>
              </div>
              <nz-progress
                [nzPercent]="file.value"
                [nzStrokeWidth]="3"
                [nzShowInfo]="false"
                [nzStrokeColor]="file.color"
              ></nz-progress>
            </div>
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="titleTemplate3">
          <div class="scrollbar wh100 ovys" *ngIf="userMessage">
            <div
              class="schedule-item flex"
              *ngFor="let schedule of userMessage.schedules"
            >
              <div
                class="date"
                [ngStyle]="{ 'background-color': schedule.bgColor }"
              >
                <div>{{ schedule.day }}</div>
                <div class="month">{{ schedule.month }}</div>
              </div>
              <div class="fe">
                <p class="title">{{ schedule.title }}</p>
                <p class="text">
                  {{ schedule.text }}
                </p>
              </div>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </nz-dropdown-menu>
  <div class="divider"></div>
</ng-template>

<ng-template #settings>
  <button nz-button nzType="large" (click)="handleOpen()">
    <i nz-icon nzType="setting"></i>
  </button>
  <div class="divider nor"></div>
</ng-template>

<ng-template #more>
  <button nz-button nzType="large" (click)="toggleMoreHeader()">
    <i nz-icon nzType="ellipsis"></i>
  </button>
  <div class="divider nor"></div>
</ng-template>

<ng-template #titleTemplate1>
  <i nz-icon nzType="message" nzTheme="fill"></i>
</ng-template>
<ng-template #titleTemplate2>
  <i nz-icon nzType="file" nzTheme="fill"></i>
</ng-template>
<ng-template #titleTemplate3>
  <i nz-icon nzType="schedule" nzTheme="fill"></i>
</ng-template>
