<header class="box-shadow pre z5">
  <div class="header pre">
    <cat-top-info
      [showInfoContent]="showInfoContent"
      (onCloseInfoContent)="closeInfoContent()"
    ></cat-top-info>
    <div nz-row class="z10">
      <div nz-col [nzSpan]="global.isMobile ? 12 : 8">
        <div class="divider nol" fxShow="false" fxShow.gt-sm></div>
        <button
          class="logo-text fl"
          nz-button
          nzType="large"
          fxShow="false"
          fxShow.gt-sm
        >
          麻麻鱼
        </button>
        <div class="divider"></div>
        <button nz-button nzType="large" (click)="toggleCollapsed()">
          <i nz-icon type="bars"></i>
        </button>
        <ng-container *ngIf="global.userRole >= userRoles[1]">
          <div class="divider"></div>
          <button
            nz-button
            nzType="large"
            (click)="showInfoContent = !showInfoContent"
          >
            <i nz-icon [type]="showInfoContent ? 'arrow-up' : 'arrow-down'"></i>
          </button>
        </ng-container>
        <ng-container
          *ngIf="!global.isMobile && global.userRole >= userRoles[1]"
        >
          <div class="divider"></div>
          <button nz-button nzType="large">
            <i nz-icon type="lock"></i>
          </button>
        </ng-container>
      </div>
      <div class="tr" nz-col [nzSpan]="global.isMobile ? 12 : 16">
        <ng-container
          *ngIf="!global.isMobile && global.userRole >= userRoles[1]"
        >
          <ng-container *ngTemplateOutlet="user"></ng-container>
        </ng-container>
        <ng-container *ngTemplateOutlet="search"></ng-container>
        <ng-container
          *ngIf="!global.isMobile && global.userRole >= userRoles[1]"
        >
          <ng-container *ngTemplateOutlet="bell"></ng-container>
        </ng-container>
        <ng-container *ngTemplateOutlet="fullscreen"></ng-container>
        <ng-container *ngIf="!global.isMobile">
          <ng-container *ngTemplateOutlet="settings"></ng-container>
        </ng-container>
        <ng-container *ngIf="global.isMobile">
          <ng-container *ngTemplateOutlet="more"></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div
    class="header pre"
    [hidden]="!(global.isMobile && global.moreHeaderState)"
  >
    <div class="divider nol z50"></div>
    <div class="header-line"></div>
    <div nz-row class="z10">
      <div nz-col nzSpan="24" class="tr">
        <ng-container *ngTemplateOutlet="user"></ng-container>
        <ng-container *ngTemplateOutlet="settings"></ng-container>
      </div>
    </div>
  </div>
</header>

<ng-template #user>
  <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomCenter'" class="tc">
    <div class="dib user-box" nz-dropdown>
      <nz-avatar
        [nzSize]="40"
        nzIcon="user"
        nzSrc="/assets/images/avatar.jpg"
        class="avatar fl"
      ></nz-avatar>
      <button nz-button nzType="primary" class="user-btn">
        <span class="ell name">smileboyi</span>
        <i nz-icon type="down" theme="outline"></i>
      </button>
    </div>
    <ul nz-menu class="user-menu">
      <li nz-menu-item>
        <button nz-button nzType="default">
          <i nz-icon type="user"></i>个人信息
        </button>
      </li>
      <li nz-menu-item>
        <button nz-button nzType="default">
          <i nz-icon type="mail"></i>收件箱
        </button>
      </li>
      <li nz-menu-item>
        <button nz-button nzType="default">
          <i nz-icon type="poweroff"></i>退出
        </button>
      </li>
    </ul>
  </nz-dropdown>
  <div class="divider"></div>
</ng-template>

<ng-template #search>
  <button nz-button nzType="large" (click)="showSearchBar()">
    <i nz-icon type="search"></i>
  </button>
  <div class="search-bar pab wh100 not nol z50 flex" [hidden]="!searchBarState">
    <label class="fe">
      <input class="wh100 ipt" type="text" placeholder="搜索" #serchIpt />
    </label>
    <button
      nz-button
      nzType="default"
      nzShape="circle"
      (click)="searchBarState = false"
    >
      <i nz-icon type="close" theme="outline"></i>
    </button>
  </div>
  <div class="divider"></div>
</ng-template>

<ng-template #fullscreen>
  <button
    nz-button
    nzType="large"
    (click)="toggleFullscreen()"
    fxShow="false"
    fxShow.gt-sm
  >
    <i nz-icon [type]="isFullscreen ? 'fullscreen-exit' : 'fullscreen'"></i>
  </button>
  <div class="divider"></div>
</ng-template>

<ng-template #bell>
  <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomCenter'">
    <button nz-button nz-dropdown nzTrigger="click">
      <i nz-icon type="bell"></i>
    </button>
    <div class="box-shadow inform-box">
      <nz-tabset nzSize="small">
        <nz-tab [nzTitle]="titleTemplate1">
          <div class="scrollbar wh100" *ngIf="userMessage">
            <div
              class="message-item flex"
              *ngFor="let message of userMessage.messages"
            >
              <nz-avatar
                nzSize="50"
                nzIcon="user"
                [nzSrc]="message.avatar"
              ></nz-avatar>
              <div class="fe main">
                <div>
                  <span class="name">{{ message.name }}</span>
                  <span class="time fr">{{ message.time }}</span>
                </div>
                <p class="text ell">
                  {{ message.text }}
                </p>
              </div>
            </div>
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="titleTemplate2">
          <div class="scrollbar wh100" *ngIf="userMessage">
            <div class="file-item" *ngFor="let file of userMessage.files">
              <div>
                <span class="name">{{ file.name }}</span
                ><span class="size fr">{{ file.size }}</span>
              </div>
              <nz-progress
                [nzPercent]="file.value"
                [nzStrokeWidth]="3"
                [nzShowInfo]="false"
                [nzStrokeColor]="file.color"
              ></nz-progress>
            </div>
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="titleTemplate3">
          <div class="scrollbar wh100" *ngIf="userMessage">
            <div
              class="schedule-item flex"
              *ngFor="let schedule of userMessage.schedules"
            >
              <div
                class="date"
                [ngStyle]="{ 'background-color': schedule.bgColor }"
              >
                <div>{{ schedule.day }}</div>
                <div class="month">{{ schedule.month }}</div>
              </div>
              <div class="fe">
                <p class="title">{{ schedule.title }}</p>
                <p class="text">
                  {{ schedule.text }}
                </p>
              </div>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </nz-dropdown>
  <div class="divider"></div>
</ng-template>

<ng-template #settings>
  <button nz-button nzType="large" (click)="handleOpen()">
    <i nz-icon type="setting"></i>
  </button>
  <div class="divider nor"></div>
</ng-template>

<ng-template #more>
  <button nz-button nzType="large" (click)="toggleMoreHeader()">
    <i nz-icon type="ellipsis"></i>
  </button>
  <div class="divider nor"></div>
</ng-template>

<ng-template #titleTemplate1>
  <i nz-icon type="message" theme="fill"></i>
</ng-template>
<ng-template #titleTemplate2>
  <i nz-icon type="file" theme="fill"></i>
</ng-template>
<ng-template #titleTemplate3>
  <i nz-icon type="schedule" theme="fill"></i>
</ng-template>
