<div
  class="profile wh100 bsb clear trans ovh scrollbar"
  ngStyle.lt-md="padding: 15px;overflow-y: auto"
  cdkScrollable
  #profile
>
  <div class="card box-shadow ovh fl trans" #card ngClass.lt-md="ltMd">
    <div class="content tc bsb">
      <nz-avatar
        [nzSize]="130"
        nzIcon="user"
        nzSrc="/assets/images/avatar.jpg"
      ></nz-avatar>
      <h2 class="name">smileboyi</h2>
      <h3 class="job">Web developer</h3>
      <p class="intro">Don't be a programmer, be a problem solver.</p>
      <div class="link-group">
        <a href="javascript:;">
          <i nz-icon nzType="weibo"></i>
        </a>
        <a href="javascript:;">
          <i nz-icon nzType="qq"></i>
        </a>
        <a href="javascript:;">
          <i nz-icon nzType="github"></i>
        </a>
        <a href="javascript:;">
          <i nz-icon nzType="google"></i>
        </a>
      </div>
      <button nz-button nzType="primary">Follow</button>
    </div>
    <div class="footer flex w100 tc">
      <div class="fe">
        <strong class="count">120</strong>
        <span class="label">Follower</span>
      </div>
      <div class="fe">
        <strong class="count">300</strong>
        <span class="label">Following</span>
      </div>
      <div class="fe">
        <strong class="count">2200</strong>
        <span class="label">Tweets</span>
      </div>
    </div>
  </div>
  <div class="board-box fr trans" ngClass.lt-md="ltMd">
    <div class="board h100 grail box-shadow ovh">
      <div class="tabs w100">
        <div class="tab" (click)="handleFirstLoad(0)">Activities</div>
        <div class="tab" (click)="handleFirstLoad(1)">Profile</div>
        <div class="tab" (click)="handleFirstLoad(2)">Messages</div>
        <div class="ink-bar trans" #inkBar></div>
      </div>
      <div class="ovh fe trans content-main" #contentMain>
        <nz-back-top
          [nzTarget]="contentBox"
          [hidden]="!backTopShow"
        ></nz-back-top>
        <div
          class="content-box scrollbar"
          #contentBox
          [ngStyle]="{ padding: isPageMini ? '0' : '0 30px' }"
        >
          <div class="reload">
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              (click)="reloadData(0)"
            >
              <i nz-icon nzType="sync" nzTheme="outline"></i>
            </button>
          </div>
          <p
            class="tc"
            [ngStyle]="{ 'margin.px': 50 }"
            *ngIf="!activities.length"
          >
            <nz-spin nzSimple [nzSize]="'large'" nzTip="Loading..."></nz-spin>
          </p>
          <div class="item" *ngFor="let activitie of activities">
            <div class="info flex">
              <img class="avatar" [src]="activitie.avatar" />
              <div class="fe">
                <div class="name">
                  {{ activitie.name }}
                  <span class="sub">{{ activitie.type }}</span>
                </div>
                <div class="time">{{ activitie.time }}</div>
              </div>
            </div>
            <div class="main">
              <img [src]="images" *ngFor="let images of activitie.images" />
              <p>{{ activitie.text }}</p>
            </div>
          </div>
          <div
            class="status-bar"
            *ngIf="activities.length"
            (click)="fetchMoreData()"
          >
            {{ showStatus }}
          </div>
        </div>
        <div class="content-box scrollbar">
          <div class="reload">
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              (click)="reloadData(1)"
            >
              <i nz-icon nzType="sync" nzTheme="outline"></i>
            </button>
          </div>
          <p
            class="tc"
            [ngStyle]="{ 'margin.px': 50 }"
            *ngIf="!profiles.length"
          >
            <nz-spin nzSimple [nzSize]="'large'" nzTip="Loading..."></nz-spin>
          </p>
          <div class="item" *ngFor="let profiles of profiles">
            <div class="info flex">
              <img class="avatar" [src]="profiles.avatar" />
              <div class="fe">
                <div class="name">
                  {{ profiles.name }}
                  <span class="sub">{{ profiles.type }}</span>
                </div>
                <div class="time">{{ profiles.time }}</div>
              </div>
            </div>
            <div class="main">
              <img [src]="images" *ngFor="let images of profiles.images" />
              <p>{{ profiles.text }}</p>
            </div>
          </div>
        </div>
        <div class="content-box scrollbar">
          <div class="reload">
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              (click)="reloadData(2)"
            >
              <i nz-icon nzType="sync" nzTheme="outline"></i>
            </button>
          </div>
          <p
            class="tc"
            [ngStyle]="{ 'margin.px': 50 }"
            *ngIf="!messages.length"
          >
            <nz-spin nzSimple [nzSize]="'large'" nzTip="Loading..."></nz-spin>
          </p>
          <div class="item" *ngFor="let message of messages">
            <div class="info flex">
              <img class="avatar" [src]="message.avatar" />
              <div class="fe">
                <div class="name">
                  {{ message.name }}
                  <span class="sub">{{ message.type }}</span>
                </div>
                <div class="time">{{ message.time }}</div>
              </div>
            </div>
            <div class="main">
              <img [src]="images" *ngFor="let images of message.images" />
              <p>{{ message.text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
