<ng-container *ngIf="!item.children; else subMenuContent">
  <ng-container *ngIf="global.userRole >= item.role">
    <li nz-menu-item *ngIf="!isCollapsed">
      <span class="subitem-title" title>
        <i nz-icon *ngIf="item.icon">
          <svg aria-hidden="true">
            <use [attr.xlink:href]="'#icon-' + item.icon"></use>
          </svg>
        </i>
        <span>{{ item.title }}</span>
      </span>
    </li>
    <li
      nz-menu-item
      nz-tooltip
      [nzTitle]="item.title"
      [nzPlacement]="position === 'left' ? 'right' : 'left'"
      *ngIf="isCollapsed"
    >
      <span class="subitem-title" title>
        <i nz-icon *ngIf="item.icon">
          <svg aria-hidden="true">
            <use [attr.xlink:href]="'#icon-' + item.icon"></use>
          </svg>
        </i>
        <span>{{ item.title }}</span>
      </span>
    </li>
  </ng-container>
</ng-container>
<ng-template #subMenuContent>
  <li
    nz-submenu
    *ngIf="global.userRole >= item.role"
    [nzOpen]="global.subMenuOpenState[item.id]"
    (click)="clickSubMenu($event, item.id)"
    (nzOpenChange)="openSubMenu($event)"
  >
    <span class="submenu-title" title>
      <i nz-icon *ngIf="item.icon">
        <svg aria-hidden="true">
          <use [attr.xlink:href]="'#icon-' + item.icon"></use>
        </svg>
      </i>
      <span>{{ item.title }}</span>
    </span>
    <ul>
      <ng-container *ngFor="let subItem of item.children">
        <ng-container *ngIf="!subItem.children">
          <li nz-menu-item *ngIf="global.userRole >= subItem.role">
            {{ subItem.title }}
          </li>
        </ng-container>
        <cat-nav-menu-item
          [item]="subItem"
          [position]="position"
          [isCollapsed]="isCollapsed"
          *ngIf="subItem.children"
        ></cat-nav-menu-item>
      </ng-container>
    </ul>
  </li>
</ng-template>
