<div class="chat-box grail wh100 ovh">
  <cat-bg-header
    headerTitle="Chat"
    describe="View information about the users, search, add, edit or delete any user."
  >
    <div class="bottom-users-bar flex">
      <button nz-button (click)="fold = !fold">
        <i nz-icon [type]="fold ? 'menu-unfold' : 'menu-fold'"></i>
      </button>
      <div [hidden]="!currentUser.avatar">
        <nz-avatar nzIcon="user" [nzSrc]="currentUser.avatar"></nz-avatar>
        <span class="name">{{ currentUser.author }}</span>
        <nz-dropdown
          [nzClickHide]="true"
          [nzPlacement]="'bottomRight'"
          [nzTrigger]="'click'"
        >
          <a nz-dropdown class="dash-btn dib pre">
            <i nz-icon type="ellipsis" theme="outline"></i>
          </a>
          <ul nz-menu class="more-op-list">
            <li nz-menu-item (click)="drawer = !drawer">
              <i nz-icon type="contacts" theme="fill"></i>Contact info
            </li>
            <li nz-menu-item><i nz-icon type="bell" theme="fill"></i>Mute</li>
            <li nz-menu-item (click)="deleteChatUser()">
              <i nz-icon type="delete" theme="fill"></i>Clear Chat
            </li>
          </ul>
        </nz-dropdown>
      </div>
    </div>
  </cat-bg-header>
  <div class="main flex pre fe">
    <div
      class="person-box-cover"
      (click)="fold = true"
      *ngIf="mobile && !fold"
    ></div>
    <div
      class="person-box scrollbar"
      [ngClass]="{ 'person-box--mobile': mobile, in: fold }"
    >
      <div class="tc no-data pab hauto2" *ngIf="!chatUsers.length">
        <img src="/assets/icons/no-data.png" alt="no-data" />
        <p>暂无数据</p>
      </div>
      <div
        class="person h100"
        *ngFor="let user of chatUsers; let index"
        (click)="selectChatUser(user, index)"
      >
        <nz-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
        <div class="fe">
          <p class="name">{{ user.author }}</p>
          <ng-container [ngSwitch]="user.status">
            <p *ngSwitchCase="'Do not disturb'">
              <i nz-icon type="stop" theme="outline"></i>Do not disturb
            </p>
            <p *ngSwitchCase="'Away'">
              <i nz-icon type="clock-circle" theme="outline"></i>Away
            </p>
            <p *ngSwitchCase="'Offline'">
              <i nz-icon type="close-circle" theme="outline"></i>Offline
            </p>
            <p *ngSwitchCase="'Online'">
              <i nz-icon type="check-circle" theme="outline"></i>Online
            </p>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="content-box fe h100 pre">
      <div class="no-data tc pab centre2" *ngIf="!currentUser.avatar">
        <i nz-icon type="message" theme="outline"></i>
        <p class="text">Select a interlocutor for talk</p>
      </div>
      <div class="wh100 grail" [hidden]="!currentUser.avatar">
        <div class="content fe ovys scrollbar">
          <div
            [ngClass]="{ chat: true, me: talk.me }"
            *ngFor="let talk of chatTalks"
          >
            <nz-avatar
              nzIcon="user"
              [nzSize]="40"
              [nzSrc]="talk.avatar"
            ></nz-avatar>
            <div class="main">
              <div class="text">
                {{ talk.text }}
              </div>
              <p class="time">{{ talk.date }}</p>
            </div>
          </div>
        </div>
        <div class="bottom flex">
          <input
            class="fe"
            nz-input
            placeholder="Entet your text..."
            [(ngModel)]="newMessage"
            (keyup)="sendMessage($event)"
          />
          <button
            nz-button
            nzType="primary"
            nzShape="circle"
            (click)="sendMessage($event)"
          >
            <img class="send" src="/assets/icons/send.svg" alt="send" />
          </button>
        </div>
      </div>
    </div>
    <!-- 防止移动端下进入会话页面时，info-box闪退（trans的影响） -->
    <ng-container *ngIf="true">
      <div [ngClass]="{ 'info-box': true, ac: drawer }">
        <div class="cover wh100 trans" (click)="drawer = false"></div>
        <div class="drawer pab nor not h100 trans">
          <div class="top grail pre">
            <button nz-button [nzShape]="'circle'" (click)="drawer = false">
              <i nz-icon type="close" theme="outline"></i>
            </button>
            <nz-avatar
              nzIcon="user"
              [nzSize]="120"
              [nzSrc]="currentUser.avatar"
            ></nz-avatar>
            <span class="name">{{ currentUser.author }}</span>
          </div>
          <div class="info h100">
            <div class="item">
              <i nz-icon type="mail" theme="fill"></i>
              <span class="text">author@gmail.com</span>
            </div>
            <div class="item">
              <i nz-icon type="phone" theme="fill"></i>
              <span class="text">(202) 756-9756</span>
            </div>
            <div class="item">
              <i nz-icon type="environment" theme="fill"></i>
              <span class="text">2903 Avenue Z, Brooklyn, NY</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
