<div
  class="top-info pre"
  fxLayout="row wrap"
  fxLayoutWrap
  fxLayoutAlign="space-between center"
  [ngClass.lt-md]="{ md: true }"
  [class.hide]="!showInfoContent"
>
  <button
    nz-button
    nzShape="circle"
    [ngStyle]="{ animation: !showInfoContent ? 'none' : 'scale .6s ease-out' }"
    (click)="onCloseInfoContent.emit()"
  >
    <i nz-icon nzType="close"></i>
  </button>
  <div
    class="info-box centre3 tc trans"
    fxFlex="40"
    fxFlex.sm="100"
    fxFlex.xs="100"
  >
    <nz-avatar
      [nzSize]="130"
      nzIcon="user"
      [ngStyle]="{
        animation: !showInfoContent ? 'none' : 'scale .6s ease-out'
      }"
      nzSrc="/assets/images/avatar.jpg"
    ></nz-avatar>
    <div class="tc info">
      <h2 class="name">smileboyi</h2>
      <h3 class="job">Web developer</h3>
      <p class="member">Member since May. 2016</p>
      <div class="button-group">
        <button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="weibo">
          <i nz-icon nzType="weibo"></i>
        </button>
        <button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="qq">
          <i nz-icon nzType="qq"></i>
        </button>
        <button nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="google">
          <i nz-icon nzType="google"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="email-box trans" fxFlex="35" fxFlex.sm="50" fxFlex.xs="100">
    <form
      class="tc"
      nz-form
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTpl">
          <input
            nz-input
            formControlName="email"
            id="email"
            placeholder="Email*"
            nzRequired
          />
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Email is required
            </ng-container>
            <ng-container *ngIf="control.hasError('email')">
              Invalid email address!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Subject is required">
          <input
            nz-input
            formControlName="subject"
            id="subject"
            placeholder="Subject*"
            nzRequired
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Message is required">
          <input
            nz-input
            formControlName="message"
            id="message"
            placeholder="Message*"
            nzRequired
          />
        </nz-form-control>
      </nz-form-item>
      <button
        class="box-shadow send-btn flex"
        nz-button
        nzType="primary"
        [disabled]="validateForm.status != 'VALID'"
      >
        <img class="send" src="/assets/icons/send.svg" />
        <span class="text">Send</span>
      </button>
    </form>
  </div>
  <div
    class="config-box tc trans"
    fxFlex="25"
    fxFlex.sm="50"
    fxShow="false"
    fxShow.gt-xs
  >
    <nz-checkbox-group [(ngModel)]="checkOptions"></nz-checkbox-group>
  </div>
</div>
