:host {
  .top-info {
    display: none;
    z-index: 5;
    height: 256px;
    background: url('/assets/images/header-bg.png') repeat fixed top;
    background-size: 480px;
    overflow: visible;
    transition: height 0.2s ease-in;
    &.md {
      height: 418px;
      background-size: 300px;
    }
    &.hide {
      height: 0;
      overflow: hidden;
    }
    > [nz-button] {
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 10;
      width: 40px;
      height: 40px;
      color: #fff;
      background-color: #f44336;
      border: none;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    }
    .info-box {
      display: flex;
      justify-content: center;
      .name {
        margin-bottom: 0;
        font-size: 21px;
        font-weight: 400;
        color: #000;
      }
      .info {
        padding: 0 24px;
      }
      .job {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.54);
      }
      .member {
        margin: 4px 0 0 0;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.54);
      }
    }
    .email-box {
      border-style: solid;
      border-width: 0 1px;
      border-color: rgba(0, 0, 0, 0.12);
      [nz-input] {
        width: 264px;
        border: none;
        border-bottom: 1px solid #d9d9d9;
        border-radius: 0;
        background-color: transparent;
        &:focus {
          box-shadow: none;
        }
      }
      .send-btn {
        margin: 0 auto;
        height: 36px;
        width: 90px;
        text-align: center;
        font-size: 14px;
        .send {
          margin-right: 4px;
        }
        .text {
          display: inline-block;
          height: 36px;
          vertical-align: middle;
        }
      }
    }
    .config-box {
      nz-checkbox-group {
        width: 120px;
        ::ng-deep > label {
          display: flex;
        }
      }
      ::ng-deep [nz-checkbox] {
        display: block;
        text-align: left;
        margin: 0;
      }
    }
    .button-group {
      button {
        margin: 0 4px;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        box-shadow: none;
      }
      [nz-icon] {
        font-size: 20px;
        color: #717171;
      }
    }
  }
}

@keyframes scale {
  5% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
