<cat-form-design-header [(layoutType)]="layoutType"></cat-form-design-header>
<cat-form-design-ele #choiceBox></cat-form-design-ele>
<main class="drag-box">
  <div class="layout-box {{layoutClass}}">
    <form nz-form [formGroup]="validateForm" #form>
      <div nz-row [nzGutter]="24" class="last-row" #lastNzRow>
        <div nz-col [nzSpan]="24"></div>
      </div>
    </form>
  </div>
</main>
<cat-form-design-config></cat-form-design-config>

<cat-form-design-template
  class="dn"
  #fdemplate="formDesignTemplate"
></cat-form-design-template>

<div nz-row [nzGutter]="24" class="dn" #nzRowTemplate>
  <div nz-col [nzSpan]="c" *ngFor="let c of  columns"></div>
</div>

<ng-template #contextMenu>
  <nz-list nzBordered nzSize="small" class="context-menu">
    <nz-list-item>向上插入一行</nz-list-item>
    <nz-list-item>向下插入一行</nz-list-item>
    <nz-list-item *ngIf="contextMenuVar.canLeftMerge"
      >向左合并单元格</nz-list-item
    >
    <nz-list-item *ngIf="contextMenuVar.canRightMerge"
      >向右合并单元格</nz-list-item
    >
    <nz-list-item>删除当前行</nz-list-item>
    <nz-list-item>新增单元格</nz-list-item>
  </nz-list>
</ng-template>
