:host {
  .footer {
    height: 64px;
    line-height: 64px;
    padding: 0 16px;
    background-color: var(--footerThemeFg);
  }
  .github,
  .copyright {
    font-size: 14px;
    color: var(--footerThemeBg);
  }
  .github {
    [nz-icon] {
      font-size: 20px;
    }
  }
}
