<div class="sidebar flex">
  <div class="bgctp wh100 pab not" (click)="handleDrawerClose()"></div>
  <div
    class="main box-shadow h100"
    [style.width.px]="global.isMobile ? 200 : 280"
    [style.margin-top.px]="global.isMobile ? 128 : 64"
  >
    <nz-tabset
      class="tabs"
      nzTabPosition="top"
      nzType="line"
      (nzSelectedIndexChange)="onSelectedIndexChange($event)"
    >
      <nz-tab nzTitle="布局宽度" *ngIf="!global.isMobile">
        <h3 class="title">布局宽度</h3>
        <nz-radio-group
          [(ngModel)]="pageWidth"
          (ngModelChange)="setPageWidth()"
        >
          <label nz-radio nzValue="fullwidth">Fullwidth</label>
          <label nz-radio nzValue="boxed">Boxed</label>
        </nz-radio-group>
      </nz-tab>
      <nz-tab nzTitle="工具栏">
        <h3 class="title">
          隐藏<nz-switch
            class="fr"
            [(ngModel)]="toolbarHide"
            (click)="setToolbarHide()"
            catThrottleClick
            throttleTime="200"
          ></nz-switch>
        </h3>
        <ng-container *ngIf="!global.isMobile">
          <h3 class="title">位置</h3>
          <nz-radio-group
            [(ngModel)]="toolbarPosition"
            (ngModelChange)="setToolbarPosition()"
          >
            <label nz-radio nzValue="above">Above</label>
            <label nz-radio nzValue="above-static">Above Static</label>
            <label nz-radio nzValue="above-fixed">Above Fixed</label>
          </nz-radio-group>
        </ng-container>
        <h3 class="title">背景颜色</h3>
        <cat-theme-panel
          (setThemeColor)="setToolbarThemeColor($event)"
          (resetThemeColor)="resetThemeColor($event)"
          [themeColor]="toolbarThemeColor"
          themeType="toolbar"
        >
        </cat-theme-panel>
      </nz-tab>
      <nz-tab nzTitle="导航栏">
        <h3 class="title" *ngIf="!global.isMobile">
          隐藏<nz-switch
            class="fr"
            [(ngModel)]="navbarHide"
            (click)="setNavbarHide()"
            catThrottleClick
            throttleTime="200"
          ></nz-switch>
        </h3>
        <h3 class="title">
          折叠<nz-switch
            class="fr"
            [(ngModel)]="navbarCollapse"
            (click)="setNavbarCollapse()"
            catThrottleClick
            throttleTime="200"
          ></nz-switch>
        </h3>
        <h3 class="title" *ngIf="!global.isMobile">位置</h3>
        <nz-radio-group
          [(ngModel)]="navbarPosition"
          (ngModelChange)="setNavbarPosition()"
          *ngIf="!global.isMobile"
        >
          <label nz-radio nzValue="left">Left</label>
          <label nz-radio nzValue="right">Right</label>
        </nz-radio-group>
        <h3 class="title">背景颜色</h3>
        <cat-theme-panel
          (setThemeColor)="setNavbarThemeColor($event)"
          (resetThemeColor)="resetThemeColor($event)"
          [themeColor]="navbarThemeColor"
          themeType="navbar"
        >
        </cat-theme-panel>
      </nz-tab>
      <nz-tab nzTitle="页脚">
        <h3 class="title">
          隐藏<nz-switch
            class="fr"
            [(ngModel)]="footerHide"
            (click)="setFooterHide()"
            catThrottleClick
            throttleTime="200"
          ></nz-switch>
        </h3>
        <h3 class="title" *ngIf="!global.isMobile">位置</h3>
        <nz-radio-group
          [(ngModel)]="footerPosition"
          (ngModelChange)="setFooterPosition()"
          *ngIf="!global.isMobile"
        >
          <label nz-radio nzValue="below">Below</label>
          <label nz-radio nzValue="below-fixed">Below Fixed</label>
        </nz-radio-group>
        <h3 class="title">背景颜色</h3>
        <cat-theme-panel
          (setThemeColor)="setFooterThemeColor($event)"
          (resetThemeColor)="resetThemeColor($event)"
          [themeColor]="footerThemeColor"
          themeType="footer"
        >
        </cat-theme-panel>
      </nz-tab>
    </nz-tabset>
    <button
      class="reset-btn wauto2 tc box-shadow db"
      nz-button
      nzType="primary"
      [style.width.px]="global.isMobile ? 168 : 224"
      (click)="handleResetConfig()"
    >
      重置主题配置
    </button>
  </div>
</div>
