:host {
  display: block;
  height: 100%;
  overflow: hidden;
  .editor-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    .wrap {
      display: flex;
      flex: 1;
      overflow: hidden;
    }
    &.editor-box--fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1001;
    }
    &.editor-box--preview {
      #monacoEditor {
        display: none;
      }
      .preview-panel {
        display: block;
      }
    }
  }
  .tool {
    line-height: 1;
    padding: 2px 5px;
    box-shadow: 0 0 3px 3px rgb(0 0 0 / 20%);
    background-color: #fff;
    [nz-icon] {
      font-size: 16px;
      height: 28px;
      width: 28px;
      line-height: 28px;
      margin: 0 2px;
      vertical-align: middle;
      border: 1px solid transparent;
      cursor: pointer;
      &:hover {
        border-color: #ccc;
      }
      svg {
        fill: #666;
      }
    }
  }
  #monacoEditor {
    flex: 1;
    width: 50%;
    background-color: #fff;
    ::ng-deep .editor-container {
      height: 100%;
    }
  }
  .preview-panel {
    flex: 1;
    width: 50%;
    background-color: #fff;
  }
}

@media screen and (max-width: 999px) {
  :host {
    #monacoEditor {
      display: block;
    }
    .preview-panel {
      display: none;
    }
  }
}
