<div
  class="editor-box wh100 ovh"
  [class.editor-box--fullscreen]="isFullScreen"
  [class.editor-box--preview]="isPreview"
>
  <div class="tool flex">
    <div class="command">
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="加粗(B)"
        nzTooltipPlacement="topCenter"
        (click)="handleBold()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-bold"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="斜体(I)"
        nzTooltipPlacement="topCenter"
        (click)="handleItalic()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-italic"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="标题"
        nzTooltipPlacement="topCenter"
        nz-dropdown
        [nzDropdownMenu]="menu"
        nzPlacement="bottomCenter"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-font-size"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="删除线(D)"
        nzTooltipPlacement="topCenter"
        (click)="handleStrike()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-strike"></use>
        </svg>
      </i>

      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="下划线(U)"
        nzTooltipPlacement="topCenter"
        (click)="handleUnderline()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-underline"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="链接(L)"
        nzTooltipPlacement="topCenter"
        (click)="handleLink()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-link"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="图片(P)"
        nzTooltipPlacement="topCenter"
        (click)="handleImage()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-image"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="代码块(O)"
        nzTooltipPlacement="topCenter"
        (click)="handleCode()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-code"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="引用(Q)"
        nzTooltipPlacement="topCenter"
        (click)="handleBlockquote()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-blockquote"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="有序列表"
        nzTooltipPlacement="topCenter"
        (click)="handleOrderedlist()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-orderedlist"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="无序列表"
        nzTooltipPlacement="topCenter"
        (click)="handleUnorderedlist()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-unorderedlist"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="表格"
        nzTooltipPlacement="topCenter"
        (click)="handleTable()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-table"></use>
        </svg>
      </i>
      <!-- <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="格式化"
        nzTooltipPlacement="topCenter"
        (click)="handleFormat()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-format"></use>
        </svg>
      </i> -->
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="音频"
        nzTooltipPlacement="topCenter"
        (click)="handleAudio()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-audio"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="视频"
        nzTooltipPlacement="topCenter"
        (click)="handleVideo()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-video"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="帮助"
        nzTooltipPlacement="topCenter"
        (click)="handleHelp()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-help"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="emoji"
        nzTooltipPlacement="topCenter"
        (click)="handleEmoji()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-emoji"></use>
        </svg>
      </i>
    </div>
    <div class="operation">
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="全屏"
        nzTooltipPlacement="topCenter"
        (click)="isFullScreen = true"
        *ngIf="!isFullScreen"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-fullscreen"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="退出全屏"
        nzTooltipPlacement="topCenter"
        (click)="isFullScreen = false"
        *ngIf="isFullScreen"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-exit-fullscreen"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        class="preview-ico"
        nzTooltipTitle="预览"
        nzTooltipPlacement="topCenter"
        (click)="handlePreview()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-preview"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="打印"
        nzTooltipPlacement="topCenter"
        (click)="handlePrint()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-print"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="导出"
        nzTooltipPlacement="topCenter"
        (click)="handleDownload()"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-upload"></use>
        </svg>
      </i>
      <i
        nz-icon
        nz-tooltip
        nzTooltipTitle="主题"
        nzTooltipPlacement="topCenter"
        (click)="isVisible = true"
      >
        <svg aria-hidden="true">
          <use xlink:href="#icon-theme"></use>
        </svg>
      </i>
    </div>
  </div>
  <div class="wrap">
    <div class="monaco-editor ovh" id="monacoEditor"></div>
    <iframe
      class="preview-panel w100 nobd"
      src="/assets/markdown.html"
      #preview
    ></iframe>
  </div>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="handleTitle('# ')">1级标题</li>
    <li nz-menu-item (click)="handleTitle('## ')">2级标题</li>
    <li nz-menu-item (click)="handleTitle('### ')">3级标题</li>
    <li nz-menu-item (click)="handleTitle('#### ')">4级标题</li>
    <li nz-menu-item (click)="handleTitle('##### ')">5级标题</li>
    <li nz-menu-item (click)="handleTitle('###### ')">6级标题</li>
  </ul>
</nz-dropdown-menu>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Markdown 预览主题"
  nzCentered
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="isVisible = false"
>
  <ng-template #modalContent>
    <textarea
      rows="8"
      nz-input
      [(ngModel)]="themeStyle"
      placeholder="可上github搜索markdown css，选择一份通用的主题样式，复制到这里。"
    ></textarea>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="insertCustomStyle()">
      确定
    </button>
  </ng-template>
</nz-modal>
