<nav class="nav h100" [ngClass]="{ collapse: configData.navbar.collapsed }">
  <div class="logo-box">
    <ng-container *ngIf="!configData.navbar.collapsed; else elseTemplate">
      <div class="bg grail w100">
        <h2 class="name">麻麻魚</h2>
        <div class="avatar pre">
          <label class="center pab centre2">
            <nz-avatar nzIcon="user" [nzSize]="64"></nz-avatar>
          </label>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <nz-avatar nzIcon="user" [nzSize]="44"></nz-avatar>
    </ng-template>
  </div>
  <cat-nav-menu [navData]="navData"></cat-nav-menu>
</nav>
