<button nz-button nzType="primary" class="btn box-shadow" (click)="capture()">
  Screen Capture
</button>
<div class="content" #screen id="content">
  <h1>Hello World!</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora blanditiis
    est consequatur maiores iusto explicabo! Dicta explicabo sed, quibusdam
    officiis nam, fugiat labore voluptatum in doloribus, dolore minus. Eos,
    adipisci!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus corrupti
    sequi rerum pariatur repellendus obcaecati, dolorem, blanditiis veniam cum
    harum quibusdam mollitia exercitationem tenetur dolore rem reiciendis.
    Facilis, sit aut.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dolorem
    sit distinctio, at omnis, pariatur sequi hic itaque consequuntur quia
    voluptatem nisi fugit odit harum aliquid quaerat neque mollitia beatae?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt adipisci
    maiores veritatis expedita sunt possimus, hic voluptatibus eius eaque
    voluptatum quidem minima vero blanditiis natus nemo repudiandae est eum
    magni!
  </p>
</div>
